*,*::before,*::after{
    box-sizing: border-box;
}
html,
body,
ul,
ol{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    transition: 0.5s scroll-behavior;
}